body {
    font-family: 'Orbitron', sans-serif;
    background: #000;
}

.board {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.messageArea, form {
    width: 100%;
    margin: auto;
}

.messageArea {
    text-align: center;
    color: #3AF30D;
    margin: 20px auto;
    position: absolute;
    top: 0;
}

.missileScore {
    position: absolute;
    top: 0;
    right: 0;
    color: #3AF30D;
}

.missileScore svg {
    fill: #3AF30D;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 10px;
}


table {
    cursor: url(target_icon.svg), pointer;
    margin: 150px auto;
    border-spacing: 0;
    position: relative;
}

table::before {
    content: "";
    position: absolute;
    top: 44%;
    left: 56%;
    background: transparent;
    height: 125%;
    width: 125%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
    border: 1px solid #3AF30D;

}

.sweep {
    box-sizing: border-box;
    bottom: 54%;
    right: 48%;
    position: absolute;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 260px;
    height: 260px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, #3AF30D);
    animation: sweep 2s infinite linear;
  }
  @keyframes sweep { to { transform: rotate(360deg); } }

tr {
    color: #3AF30D;
}

td {
    border: 1px solid #3AF30D;
    border-right: 0;
    height: 50px;
    width: 50px;
}

td:hover {
    background: #3AF30D;
}

td.coordinate:hover {
    background: none;
    cursor: default;
}

td:last-child {
    border: 1px solid #3AF30D;
}

td.coordinate {
    border: none;
    text-align: center;
    text-transform: uppercase;
}

.hit {
    background: url("ship.png") no-repeat center center;
    background-size: contain;
}

.miss {
    background: url("miss.png") no-repeat center center;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    table {
        margin: 140px 40px 0 40px;
    }
    td {
        height: 26px
    }
    td:hover {
        background: none;
    }
    .sweep {
        bottom: 36%;
        right: 46%;
        height: 180px;
        width: 180px;
    }
    .missileScore {
        bottom: -50px;
        left: 50px;
        top: auto;
        right: auto;
    }
    table::before {
        display: none;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .sweep {
        height: 200px;
        width: 200px;
    }
}